## 1. 리스트

In [ ]:
numList = [10, 20, 30]

numList[2:3] = [20, 25]

numList

[10, 20, 20, 25]

In [ ]:
numList_2 = [10, 20, 30]

numList[2] = [20, 25]

numList

[10, 20, [20, 25]]

In [ ]:
numList_3 = [10, 20, 30]
del(numList_3)

print(numList_3)

NameError: ignored

In [ ]:
numList_3 = [10, 20, 10, 10, 20, 30]

numList_3.remove(10)

print(numList_3)

[20, 10, 10, 20, 30]

In [ ]:
numList_3 = [10, 20, 10, 10, 20, 30]

numList_3.insert(1, 77)

print(numList_3)

[10, 77, 20, 10, 10, 20, 30]

In [ ]:
numList_3.append(90)
print(numList_3)

print(numList_3.pop())
print(numList_3)

[10, 77, 20, 10, 10, 20, 30, 90]
90
[10, 77, 20, 10, 10, 20, 30]

In [ ]:
numList_3[0]

10

In [ ]:
for i in range(len(numList_3)):
  #if numList_3[i] == 10:
    print(numList_3[i])

10
77
20
10
10
20
30

# 퀴즈-리스트 자료 중복 제거

In [ ]:
def removeAll(list_output, data):
  list_new = []

  for i in range(len(list_output)):

    if list_output[i] != data:
      list_new.append(list_output[i])

    else:
      pass

  print(list_new)

In [ ]:
num_list_test = [10, 20, 30, 10, 10, 40, 20, 10, 10, 30]

removeAll(num_list_test, 10)

[20, 30, 40, 20, 30]

---
# +) 0415

또다른 리스트를 만드는 방법

In [1]:
list_1 = [1, 2, 3, 4, 5]
list_2 = [i*10 for i in range(1, 10)]

### a for i in range~~

In [2]:
list_2

[10, 20, 30, 40, 50, 60, 70, 80, 90]

### 모든 값에 0을 넣고 싶을 때

In [3]:
list_3 = [0 for i in range(10)]

In [4]:
list_3

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [6]:
# list_1 = [1, 2, 3, 4, 5]

print(sum(list_1))

15

### ★ ```for i in list``` method

In [8]:
cnt = 0

for i in list_1:
  print(cnt, i)
  cnt += 1

0 1
1 2
2 3
3 4
4 5

### another method : ```for i in enumerate```

In [9]:
for i, n in enumerate(list_1):
  print(i, n)

0 1
1 2
2 3
3 4
4 5

인덱스와 값을 return해줌!!

In [10]:
# more

list_5 = [[10, 20], [30, 40], [50, 60], [70, 80]]

for i, n in enumerate(list_5):
  print(i, n)

0 [10, 20]
1 [30, 40]
2 [50, 60]
3 [70, 80]

2개의 list를 한 번에 받아 하나의 loop 사이클 내에서 돌리기

In [22]:
# zip technique

list_6 = [1, 2, 3, 4]
list_7 = [5, 6, 7, 8]

for l1, l2 in zip(list_6, list_7):
  print (l1, l2)

1 5
2 6
3 7
4 8

in enumerate, in zip을 같이 쓰고 싶다면?    
https://note.nkmk.me/en/python-for-enumerate-zip/

In [20]:
# example

names = ['Alice', 'Bob', 'Charlie']
ages = [24, 50, 18]

for i, (name, age) in enumerate(zip(names, ages)):
    print(i, name, age)

0 Alice 24
1 Bob 50
2 Charlie 18

In [21]:
# 실제 해 보기

for n1, l1 in enumerate(zip(list_6, list_7)):
  print(n1, l1)

0 (1, 5)
1 (2, 6)
2 (3, 7)
3 (4, 8)

---