## 6번

In [ ]:
list1 = [10, 0, 0, 0, 10, 0, 0, 0]
list1[1:5] = [2, 2, 2]

print(list1)

[10, 2, 2, 2, 0, 0, 0]

## 7번

In [ ]:
students = ['Ryan', 'Hansu', 'Jun']
scores = [[90, 85, 91], [92, 95, 88], [87, 94, 96]]

for i in range(0, len(scores)):
  print(students[i], end='\t')

  for j in range(0, 3):
    print(scores[i][j], end='\t')

  total = sum(scores[i])
  print('%d\t%d', %(total, total/3))

---
# 심화

In [ ]:
# 학생별 수강 과목들이 서로 다른 경우?

students = ['Ryan', 'Hansu', 'Jun']
scores = [[90, 85, 91, 100], [92, 95, 88], [87, 94, 96, 83, 91]]

for i in range(len(students)):
  print(students[i], end='\t')

  for j in range(len(scores[i])):
    print(scores[i][j], end='\t')

  total = sum(scores[i])
  print('%d\t%d' %(total, total/len(scores[i])))

Ryan	90	85	91	100	366	91
Hansu	92	95	88	275	91
Jun	87	94	96	83	91	451	90

In [ ]:
"""
students = ['Ryan', 'Hansu', 'Jun']
scores = [[90, 85, 91], [92, 95, 88], [87, 94, 96]]

for i in range(0, len(scores)):
  print(students[i], end='\t')

  for j in range(0, 3):
    print(scores[i][j], end='\t')

  total = sum(scores[i])
  print('%d\t%d' %(total, total/3))
"""

# 위 코드를 최대한 짧게?

students = ['Ryan', 'Hansu', 'Jun']
scores = [[90, 85, 91], [92, 95, 88], [87, 94, 96]]

for i in range(len(students)):
  total = sum(scores[i])
  print(students[i], scores[i][0], scores[i][1], scores[i][2], total, int(total/3), sep='\t')

Ryan	90	85	91	266	88
Hansu	92	95	88	275	91
Jun	87	94	96	277	92

길이는 짧지만, 그렇게 썩 좋은 방법은 아니더라...

In [ ]:
# enumerate 사용

for i, sc in enumerate(scores):
  print(i, sc)
  total = sum(sc)
  print(students[i], sc[0], sc[1], sc[2], total, int(total/3), '\n', sep='\t')

0 [90, 85, 91]
Ryan	90	85	91	266	88

1 [92, 95, 88]
Hansu	92	95	88	275	91

2 [87, 94, 96]
Jun	87	94	96	277	92

In [ ]:
# zip과 unpacking

for st, sc in zip(students, scores):
  total=sum(sc)
  print(st, sc[0], sc[1], sc[2], total, int(total/3), sep='\t')

print('=============================================')

#unpacking
for st, sc in zip(students, scores):
  total=sum(sc)
  print(st, *sc, total, int(total/3), sep='\t')

Ryan	90	85	91	266	88
Hansu	92	95	88	275	91
Jun	87	94	96	277	92
=============================================
Ryan	90	85	91	266	88
Hansu	92	95	88	275	91
Jun	87	94	96	277	92

---
# Quiz   
### 다음 요구사항을 만족하는 프로그램을 작성하시오.

- 기본 데이터 내용은 학생 성적 정보 데이터 활용 하되 Dictionary 구조로 변경.

- 프로그램을 실행하면 1: 검색, 2 : 전체 조회 메뉴 출력

- 1을 선택하면 이름을 입력받아 해당 학생 성적만 출력

- 2를 선택하면 전체 학생 정보 출력

In [11]:
students = {'Ryan':[90, 85, 91], 'Hansu':[92, 95, 88], 'Jun':[87, 94, 96]}

num = input("Type your num(1 : Search mode, 2 : PrintAll) : ")

if num=='1':
  name = input('Type your name : ')
  print(students[name])

elif num=='2':
  print(students)

Type your num(1 : Search mode, 2 : PrintAll) : 1
Type your name : Hansu
[92, 95, 88]

In [10]:
print(students['Ryan'])

[90, 85, 91]